/* === VERSIÓN CELULAR === */
@media (max-width: 768px) {

  /* 🔹 TITULO MORTHALIS */
  .titulo {
    top: 8%;
    right: 5%;
    left: auto;
    width: 180px;
    transform: none !important;
  }

  /* 🔹 TEXTOS */
  section.historia { 
    padding: 20px; 
    transform: translateX(-5%) translateY(-16%) !important;
    width: 60%;
  }
  
  section.historia h2 { 
    margin-bottom: 0;
    width: 70%;
    font-size: clamp(28px, 2vw + 1rem, 64px);
  }

  section.historia p { 
    font-size: 12px;
    max-width: 100%; 
    margin-left: 0; 
    line-height: 1; 
  }

  /* 🔹 CONTADOR */
  .contador {
    font-size: 32px;
  }

  /* 🔹 ÁRBOLES */
  #arbol-amarillo { 
    left: 89%;
    --x-base: -50%;
    --y-base: 10px;
    transform: translate(var(--x-base), var(--y-base));
    width: 180%;
  }

  #arbolesfondo-solo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: auto; 
    min-height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
  }

  /* 🔹 TODO EL ÁRBOL */
  #hojasarbol,
  #layer-brilloramas,
  #ramas,
  #layer-brilloraices,
  #layer-frutos,
  #layer-descendiente {
    transform: translateX(-50%) translateY(85%) !important;
    width: 130%;    
    left: 35%;
  }

  /* 🔹 Reemplaza ramas por arbolcompleto.png */
  #ramas {
    content: url("../img/arbolcompleto.png");
    transform: translateX(-55%) translateY(62%) !important;
    width: 139%;
    left: 40%;
  }

  /* 🔹 Cambia hojas por la versión móvil */
  #hojasarbol {
    content: url("../img/hojasarbolcelular.png");
    transform: translateX(-55%) translateY(62%) !important;
    width: 139%;
    left: 40%;
  }

  /* 🔹 SELEN */
  #selen { 
    left: 50%;
    --x-base: -30%;
    --y-base: 0%;
    transform: translate(var(--x-base), var(--y-base));
    width: 150%;    
  }

  /* 🔹 DESCENDIENTE */
  #layer-descendiente {
    left: 50%;
    transform: translateX(-62%) translateY(135%) !important;
    width: 150%; 
  }

}
